.signin{
    margin-left: 26%;
    margin-bottom: 8%;
    margin-top: 2%;
    height: auto;
    border-radius: 10px;
    /* font-family:Arial, Helvetica, sans-serif; */
    font-family: Nunito;
    
    width: 40%;
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.info {
    font-family: sans-serif;
    font-weight: 100;
    background-color: #4B0082;
    border-radius: 10px;
   font-family: Nunito;
   color: white;
   height:150px;
}    
.info h1{
    font-weight: 600;
}
.email h3{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin-left: 25px;
    color: #4B0082;
    padding-top: 12px;
}
.email input{
    width: 90%;
    height: 35px;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #E6E6FA;
    /* border: 1px solid rgb(102, 4, 102); */
    border: none;
    outline: currentColor;
    color: #909090;
}

.password h3{
    font-size: 16px;
    font-weight: 600;
    margin-left: 25px;
    text-align: left;
    color: #4B0082;
    padding-top: 12px;
}
.password input{
    width: 90%;
    height: 35px;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #E6E6FA;
    /* border: 1px solid rgb(102, 4, 102); */
    border: none;
    outline: currentColor;
    color: #909090;
}
.allinputs{
    background-color: #ffff;
    border-radius: 20px;
    margin-top: -80px;
}
.container{
    background-color: #4B0082;
    border-radius: 10px;
    height: 100px;
    padding-top: 10px;
}
.button{
    padding-top: 10px;
    padding-bottom: 12px;
}
.custom-datepicker-container {
    width: 100px; /* Set the desired width */
  }
  
  .custom-datepicker-input {
    height: 40px; /* Set the desired height */
  }
  .datepickericon {
    position: absolute;
    top: 50%; /* Use relative unit for vertical positioning */
    right: 5%; /* Use relative unit for horizontal positioning */
    transform: translateY(-50%);
    color: #FC8EAC; /* Set the desired color for the icon */
    cursor: pointer;
    text-align: center;
  }
  .selected {
    background-color: red; /* Change the background color to desired color */
    color: white; /* Change the text color to desired color */
  }
  
  
  
  
  
  