.signin{
    margin-left: 26%;
    margin-bottom: 8%;
    margin-top: 2%;
    height: auto;
    border-radius: 10px;
    /* font-family:Arial, Helvetica, sans-serif; */
    font-family: Nunito;
    
    width: 40%;
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 24px;
    padding-bottom: 20px;
    
}

.info {
    font-family: sans-serif;
    font-weight: 100;
    background-color: #4B0082;
    border-radius: 10px;
   font-family: Nunito;
   color: white;
}    
.info h1{
    font-weight: 600;
}
.info h5{
    font-weight: 100;
}
.email h3{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin-left: 25px;
    color: #4B0082;
    padding-top: 12px;
}
.email input{
    width: 90%;
    height: 35px;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #E6E6FA;
    /* border: 1px solid rgb(102, 4, 102); */
    border: none;
    outline: currentColor;
    color: #909090;
}

.password h3{
    font-size: 16px;
    font-weight: 600;
    margin-left: 25px;
    text-align: left;
    color: #4B0082;
    padding-top: 12px;
}
.password input{
    width: 90%;
    height: 35px;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #E6E6FA;
    /* border: 1px solid rgb(102, 4, 102); */
    border: none;
    outline: currentColor;
    color: #909090;
}
.button{
    background-color: #4B0082;
    color: white;
    width: 51%;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-top: 22px;
}
.button:hover{
    cursor: pointer;
}
.text{
    color: rgb(102, 4, 102);
    margin-left: 362px;
    margin-right: auto;
}
.text:hover{
    cursor: pointer;
}
.bottomtext {
    color: #4B0082;
     font-weight: 100;   
}

.bottomtext span{
    color: #4B0082;
}
.bottomtext span:hover{
    cursor: pointer;
}
.img img{
    width: 100%;
    height: 639px;
    margin-left: 560px;
    margin-top: -460px;
    border-radius: 10px;
}
.allinputs{
    background-color: #ffff;
    border-radius: 20px;
}
.container{
    background-color: #4B0082;
    border-radius: 10px;
    height: 200px;
    padding-top: 20px;
}

.check{
    text-align: left;
    padding-top: 12px;
    margin-left: 20px;
    color: #4B0082;
    font-weight: 600;
}
.checkbox{
    background-color: white;
    border-color: grey;
}
.checkbox--active{
    border-color: purple;
    background: purple;
}
.label{
    
    text-align: left;
    margin-left: 20px;
    padding-top: 12px;
    
}
.icon{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 28rem;
    margin-top: -24px;
    color: #FC8EAC;
    margin-right: auto;
}