/* Google Sign-in Button */
.button {
    display: inline-block;
    background-color: #4B0082;
    color: #ffff;
    border: 1px solid #4B0082;
    border-radius: 10px;
    font-size: 14px;
    width: 51%;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Nunito;
  }
  
 
  
  .button:focus {
    outline: none;
  }
  
  .button img {
    height: 15px;
    margin-right: 10px;margin-top: -7px;
  }
